header.header.border-bottom
    .container
        nav.navbar.navbar-expand-md.p-md-0(aria-label="Primary")
            button.navbar-toggler.me-4(
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#main-navigation"
                aria-controls="main-navigation"
                aria-expanded="false"
                aria-label="Toggle navigation"): span.navbar-toggler-icon
            .d-md-none.text-end(style="flex: 1;"): include components/headerSearch
            div.collapse.navbar-collapse.pt-2.p-md-0.row(id="main-navigation")
                .col-md-auto.col-lg-3.col-xl-4: include components/mainNavigation
                .col.my-2.border-top.d-md-none
                .col-md-auto.col-lg-9.col-xl-8.d-flex.justify-content-between.pe-lg-1.gap-md-2.gap-lg-4
                    .d-none.d-md-block.flex-fill.mt-1: include components/headerSearch
                    ul.navbar-nav.my-auto.gap-lg-3.ps-lg-2
                        li(class="nav-item dropdown")
                            a.nav-link.dropdown-toggle.dropdown-toggle-icon-none(
                                href="#"
                                id="dropdown-language"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            ) English
                                i.icon-chevron-down(style="")

                            ul.dropdown-menu(aria-labelledby="dropdown-language")
                                li: a.dropdown-item.active(href="#") English
                                li: a.dropdown-item(href="#") Ukrainian
                        li.nav-item: a.nav-link(href="#") Sign in
                        include components/themeSelector
